{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="jumbotron my-5">
            <h1 class="display-3">Go for the future, go for Lisk</h1>
            <p class="lead">
                Welcome to goforli.sk, a proportionally <strong>85% + 5% sharing</strong> Lisk pool that is run by active JavaScript and PHP developers.
            </p>
            <hr class="my-4">
            <p>
                We at goforli.sk believe in the future of blockchain and especially the future of Lisk. Therefore we have decided to run two
                nodes on the Lisk mainnet and one node on the Lisk testnet. We are also actively developing some tools for the community, together we can make Lisk awesome.
                Three projects that we are currently working on are:
                <ul>
                    <li>
                        An open source Lisk wrapper for the official Lisk API, written in PHP + Symfony 3.3.<br />
                        <a target="_blank" href="https://www.github.com/goforlisk/lisk-php">See it on Github</a>.
                    </li>
                    <li>
                        An open source tool to run a Lisk pool, written in PHP + Symfony 3.3. This is the software you are looking at right now.<br />
                        <a target="_blank" href="https://www.github.com/goforlisk/liskpool">See it on Github</a>.
                    </li>
                    <li>An open source tool to calculate possible earnings by voting, written in PHP + Symfony 3.3. (Work In Progress)</li>
                    <li>An open source tool to gather and display network statistics. (Work In Progress)</li>
                </ul>
            </p>
            <p>
                <em>As soon as we would be able to forge, 5% of the forging rewards will be used to fund projects that help the Lisk community grow, 85% of the rewards will be given back to the voters. The remaining 10% will be used to fund the servers and to be able to continue developing tools for the Lisk community.</em>
            </p>
            <p>
                <strong>Want to contribute to our projects?</strong> Feel free to submit PRs. We are in this together.
            </p>
        </div>

        <h1>Why vote for goforli.sk?</h1>
        <p>
            We truly believe in the value proposition of Lisk, to make complex blockchain technology accessible for the masses. Therefore we choose to support the community by running public Lisk nodes and devote our free time to create some tools that support the community.
        </p>
        <p>
            Your vote actually means a lot for the future of Lisk, so use your voting power wisely. The future of the Lisk ecosystem depends, besides the core team, on active delegates that provide tools for the Lisk ecosystem, provide use cases for Lisk, organize events and/or promote Lisk in any other possible way. The ecosystem can grow large only with delegates that are putting in their efforts in the interest of Lisk. While it may be tempting to vote simply for delegates that give you the highest rewards, this may not be a good choice in the long run. This can best be compared to a political vote; would you rather vote for someone who has the best interest of your country in mind, or someone who is mainly interested in forging rewards?
        </p>
        <p>
            We think that most of the rewards for voting us should flow back into the community, therefore we choose to share 85% of all incomes proportionally to the ones who have voted for us, and reserve another 5% to be able to support projects that will help the community grow. We are using our own publicly available tools to be able to achieve this. Furthermore we are active on Reddit and Lisk.chat to be helpful to people who have questions about Lisk or our tools.
        </p>
        <p>
            If you would like to vote for us, please vote for delegate <strong>goforlisk</strong>. <strong>Thanks to all of you who believe in what we do!</strong>
        </p>
    </div>
{% endblock %}
